@import-normalize;

*,
h1 {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", "Inter", sans-serif;
  /* background-color: #555555; */
  /* background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');  */
  background-color: #0f0f0f;
}

ul,
ol {
  list-style: none;
}

picture,
img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
  cursor: pointer;
}
/* .css-9fjaju-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
} */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #bf123d;
}
